@model IEnumerable<ToyStore.Model.DataModels.User>
@{
    ViewData["Title"] = "Lista użytkowników";
}

<h2>Użytkownicy</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Adres</th>
            <th>Role</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>@user.Address</td>
                <td>
                    @string.Join(", ", ViewBag.UserRoles[user.Id] as IList<string>)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
