@model IEnumerable<ToyStore.Model.DataModels.Product>
@{
    ViewData["Title"] = "Zarządzanie produktami";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj produkt</a>
</p>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Miniatura</th>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Cena</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.DefaultImageUrl" alt="@item.Name" style="max-width:60px; max-height:60px;" class="img-thumbnail" />
                </td>
                <td>@item.Name</td>
                <td>@item.Category?.Name</td>
                <td>@item.Price.ToString("0.00") zł</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                    <a asp-action="ManageColors" asp-route-productId="@item.Id" class="btn btn-sm btn-info">Zarządzaj kolorami</a>
                </td>
                <form asp-controller="Wishlist"
                      asp-action="Add"
                      method="post"
                      class="d-inline">
                    <input type="hidden" name="productId" value="@item.Id" />
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        🧡
                    </button>
                </form>

            </tr>
        }
    </tbody>
</table>
